
body {
	background-image: url('http://served.kittykatt.us/projects/configs/mythemes/wallpapers/underwater_tiles.jpg');
	margin: 20px 32px;
}

h2 {
	background: #6D0A00;
	border: 0;
	border-bottom: 4px solid rgba(0, 0, 0, 0.7);
	color: #ffffff;
	line-height: 2;
	padding-left: 12px;
}

.page-wrap {
	width: 1280px;
	margin: 0 auto;
}

.btn {
  background: #00A0D6;
  border: 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  color: #FFF;
  display: block;
  font-weight: bold;
  line-height: 3;
  height: 50px;
  width: 220px;
  position: relative;
  overflow: hidden;
  padding-left: 16px;
  margin: 10px 30px;
  transition: all .4s;
}

.content {
	position: absolute;
	transition: top 0.3s;
	overflow: hidden;
}

.top { top: 0; }
.btn:hover .top { top: -100px; }
.bottom { top: 100px; }
.btn:hover .bottom { top: 0px; }
